# ------------------------------
# Virtual environment
# ------------------------------
.venv/
env/
ENV/

# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# Jupyter / IPython
# ------------------------------
.ipynb_checkpoints

# ------------------------------
# AI models / large files
# ------------------------------
models/
*.onnx
*.zip
*.h5
*.pth
*.pt

# ------------------------------
# Database files (local)
# ------------------------------
*.db
*.sqlite3

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# OS / Editor files
# ------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.sublime-workspace
*.vscode/